* {
    transition: all 0.4s;
}
.close-button {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    right: 5px;
    top: 5px;
    font-size: 25px;
}

.add-class-form {
    margin-top: 3%;
    font-size: 22px;
}

.add-class-form input {
    font-size: 22px;
    width: 100%;
}

.btn-group {
    position: absolute;
    bottom: 10%;
    right: 50%;
    transform: translate(50%, 10%);
}
.btn-group button {
    margin: 10px;
    font-size: 18px;
    height: 30px;
    width: 85px;
    border: solid;
    background-color: transparent;
    color: white;
    outline: none;
    cursor: pointer;
}
.btn-group button:hover {
    transform: scale(1.1);
}