.top-right {
  position: absolute;
  top: 5%;
  right: 5%;
}
.close-btn {
  cursor: pointer;
  background: none;
  outline: none;
  font-size: 30px;
  border: none;
}
.center-bar {
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  width: 80%;
  position: absolute;
  top: 22%;
  left: 10%;
  right: 10%;
  display: flex;
  border-radius: 10px;
}
.center-bar button {
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.3);
  background: transparent;
  margin: 10px;
  color: white;
  border-color: white;
  border-style: solid;
  height: 30px;
  width: 180px;
  outline: none;
  font-size: 18px;
  cursor: pointer;
}
.center-bar button:hover {
  transform: scale(1.1);
}
.center-bar button:active {
  transform: scale(1);
}
.close-btn:hover {
  transform: scale(1.3);
}

.trash-btn {
  position: absolute;
  top: 5%;
  left: 5%;
  background: none;
  color: red;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.trash-btn:hover {
  transform: scale(1.3);
}

.course-name {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}
.get-startedMODAL {
  position: absolute;
  text-align: center;
  top: 15%;
  left: 50%;
  transform: translate(-50%,-15%);
  width: 600px;
  font-size: 18px;
  color: black;
}
.category-rows {
    border-radius: 10px;
  position: absolute;
  margin: none;
  top: 32%;
  left: 2%;
  right: 2%;
  justify-content: center;
  text-align: center;
  width: 96%;
  background: rgba(0, 0, 0, 0.4);
}

.category-row {
    margin: 10px;
    border-radius: 5px;
    height: 40px;
    font-size: 22px;
}

.category-name {
    position: absolute;
    width: 200px;
    text-align: center;
    top: 15%;
}
.percent-worth {
    position: absolute;
    text-align: center;
    top: 15%;
    right: 33%;
}
.percent-of-category {
  position: absolute;
  top: 15%;
  text-align:center;
  right: 10%;
}

.edit-category-btn {
  position: absolute;
  cursor: pointer;
  background: none;
  outline: none;
  color: white;
  border-style: solid;
  border-color: white;
  top: 20%;
  left: 25%;
}
.edit-category-btn:hover {
  transform: scale(1.1);
}
.edit-category-btn:active {
  transform: scale(1);
}
.add-assignment-btn {
  position: absolute;
  background: none;
  outline: none;
  color: white;
  border-style: solid;
  border-color: white;
  cursor: pointer;
  top: 20%;
  left: 37%;
}
.add-assignment-btn:hover {
  transform: scale(1.1);
}
.add-assignment-btn:active {
  transform: scale(1);
}
.category-grade-header {
  position: absolute;
  top: 10px;
  right: 7%;
  font-size: 18px;
  text-decoration: underline;
}

.overall-grade {
  position: absolute;
  top: 15%;
  left: 50%;
  border: solid;
  text-align: center;
  transform: translate(-50%, -15%);
  height: 35px;
  width: 250px;
  font-size: 20px;
  line-height: 35px;
}